/.idea/
/test1.php
/auth/
/about/
/bitrix/
/catalog/
/images/
/include/
/login/
/news/
/personal/
/search/
/store/
/.personal.menu.php
/.left.menu_ext.php
/.bottom.menu.php
/.htaccess
/.access.php
/.section.php
/.top.menu.php
/404.php
/favicon.ico
/sect_bottom.php
/sect_sidebar.php
/index.php
/urlrewrite.php
